.register-page-wrapper {
  display: flex;
  align-items: center;
  padding-top: 75px;
}

.register-page-wrapper .img-wrapper img {
  width: 100%;
  height: auto;
}

.form-wrapper .title-wrapper {
  margin-top: 20px;
  margin-bottom: 14px;
}

.form-wrapper .title-wrapper p {
  color: #082777;
}

.checkbox-wrapper label {
  font-size: 12px;
  margin-left: 8px;
}

@media all and (max-width: 1199.98px) {
  .register-page-wrapper {
    padding-top: 80px;
  }
}

/* Login page */

.register-page-wrapper.login .carousel.slide {
  position: unset;
}

.register-page-wrapper.login .carousel.slide .carousel-inner .carousel-item img {
  height: 400px;
}

.register-page-wrapper.login .carousel.slide .carousel-indicators button {
  background-color: #0cd0a2;
}

.register-page-wrapper.login .form-wrapper .title-wrapper {
  margin-top: 30px;
  margin-bottom: 36px;
}

.register-page-wrapper.login .form-wrapper .form-field-wrapper > * + * {
  margin-top: 32px;
}

/* forgot-password section */
.register-page-wrapper.login .forgot-password-wrapper {
  margin-top: 12px !important;
}

.register-page-wrapper.login .forgot-password-wrapper label,
.register-page-wrapper.login .forgot-password-wrapper a {
  font-size: 16px;
}

.register-page-wrapper.login .forgot-password-wrapper a {
  color: #082777 !important;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}

.register-page-wrapper.login .forgot-password-wrapper a:hover {
  border-bottom: 1px solid;
}
